<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div style="background-color:silver">
        <a href="/student" >Student Registration Form</a>
    </div>
    <br />
    <div style="background-color:silver">
        <a href="/studentLogin" >Student Login Form and Reports</a>
    </div>

  </body>
</html>